@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assets/fonts/vazirmatn/Vazirmatn-font-face.css";
html {
  scroll-behavior: smooth;
}
li:hover > div {
  display: flex;
}
.active > ul {
  display: block;
}

.swiper-slide {
  width: auto !important ;
}
/* .Swiper2 .swiper-button-prev{
background: #000;
} */
